:root {
  --topAndBottom-height: 20px;
  --background-color: rgb(235, 232, 232);
}

body {
  background-color: grey;
}

.list__div {
  margin: auto;
  display: block;
  height: 300px;
  text-align: center;
  border: solid;
  position: relative;
  width: 300px;
  border-radius: 10%;
  background: linear-gradient(blue, 10%, pink);
}

.list__div__top {
  height: var(--topAndBottom-height);
}

.list__div__top h2 {
  margin: 5px;
}

.item__list {
  height: 210px;
  background-color: var(--background-color);
}

.item__list p {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 15px;
}

.item__list__input {
  bottom: 10px;
}

.button__div {
  margin: auto;
  display: block;
  width: 300px;
  text-align: center;
  height: var(--topAndBottom-height);
}

input {
  width: 295px;
  border: 0px;
}

.input__box {
}
