:root {
  --border-radius: 4px;
}

body {
  background-color: violet;
}

.list__div {
  margin: auto;
  display: block;
  width: 50%;
  height: 70vh;
  text-align: center;
  border: solid;
  position: relative;
}

.list__div__top {
  text-align: center;
}

.addItem {
}

.button__div {
  margin: auto;
  display: block;
  width: 50%;
  border: solid;
  text-align: center;
}

input {
  width: 99%;
  padding: 0px 0px;
}

.input__box {
  margin: auto;
  display: block;
  width: 50%;
  border: solid;
  text-align: center;
}
