:root {
  --topAndBottom-height: 20px;
  --background-color: rgb(235, 232, 232);
}

body {
  background-color: grey;
}

.list__div {
  margin: auto;
  display: block;
  height: 300px;
  text-align: center;
  border: solid;
  position: relative;
  width: 300px;
  border-radius: 10%;
  background: linear-gradient(blue, pink, 50%, pink, blue);
}

.list__div__top {
  height: var(--topAndBottom-height);
}

.list__div__top h2 {
  margin: 5px;
  color: white;
}

.item__list {
  height: 210px;
  background-color: var(--background-color);
  overflow: scroll;
}

.item__list p {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 15px;
  margin-bottom: 5px;
}

.item__list__input {
  bottom: 10px;
}

.button__div .addItem {
  margin-top: 15px;
}

input {
  width: 295px;
  border: 0px;
  margin-top: 120px;
}

.input__box {
}
