:root {
  --border-radius: 4px;
}

body {
}

.list__div {
  margin: auto;
  display: block;
  height: 400px;
  text-align: center;
  border: solid;
  position: relative;
  width: 300px;
}

.list__div__top {
  text-align: center;
  border-bottom: solid;
}

.list__div__top h2 {
  margin: 5px;
}

.addItem {
}

.button__div {
  margin: auto;
  display: block;
  width: 100%;
  border: solid;
  text-align: center;
}

input {
  width: 99%;
  padding: 0px 0px;
}

.input__box {
  margin: auto;
  display: block;
  width: 100%;
  border: solid;
  text-align: center;
}
