html,
body {
  margin: 0;
  overflow-y: hidden;
}

.game--section {
  scroll-behavior: smooth;
}

.levelOne {
  height: 100vh;
}

.levelTwo {
  height: 100vh;
}

.start--screen {
  display: block;
}

.game--div {
  display: block;
}

.levelOne--div {
  background: blue;
  height: 100vh;
}

.levelTwo--div {
  background: red;
  height: 100vh;
}

.levelThree--div {
  background: black;
  height: 100vh;
}

.goToLvTwoBtn {
  background: white;
  position: relative;
  width: 100px;
  height: 100px;
  bottom: 15vh;
  left: 100vh;
}

.goToLvThreeBtn {
  background: white;
  position: relative;
  width: 100px;
  height: 100px;
  bottom: 15vh;
  left: 100vh;
}
