html,
body {
  height: 100vh;
  margin: 0;
}

.game--section {
  scroll-behavior: smooth;
}

.levelOne {
  height: 100vh;
}

.levelTwo {
  height: 100vh;
}

.game--div {
  display: block;
}

.levelOne--div {
  background: blue;
  height: 100vh;
}

.levelTwo--div {
  background: red;
  height: 100vh;
}

.levelThree--div {
  background: black;
  height: 100vh;
}

.goToLvTwoBtn {
  background: white;
  position: relative;
  width: 100px;
  height: 100px;
  bottom: 15vh;
  justify-content: center;
}

.goToLvThreeBtn {
  background: white;
  position: relative;
  width: 100px;
  height: 100px;
  bottom: 15vh;
  justify-content: center;
}
