html,
body {
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.game__section {
  scroll-behavior: smooth;
}

.levelOne {
  height: 100vh;
}

.start__btn {
  position: absolute;
  bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}

.start__game-mssage {
  margin: auto;
  color: white;
  width: 500px;
  height: 200px;
  text-align: center;
}

.game__div {
  display: block;
}

.levelOne__div {
  background: url(img/sea.png);
  height: 100vh;
  display: flex;
  background-size: cover;
}

.item__btn {
  position: absolute;
  border: solid white;
  display: flex;
  width: 200px;
  height: 70px;
  left: 100px;
  top: 50px;
  background: white;
  justify-content: space-between;
  color: black;
}

.item__btn > p {
  margin-left: 20px;
}

.fas.fa-arrows-alt-v {
  font-size: 20px;
  margin: 15px;
  cursor: pointer;
}

.hearts {
  display: flex;
  position: absolute;
  width: 200px;
  height: 200px;
  border: white;
  left: 85%;
  top: 100px;
}

.fa-heart {
  color: red;
  font-size: 50px;
  margin-right: 5px;
  transition: all 0.4 ease;
}

.fa-heart-broken {
  color: red;
  font-size: 50px;
  margin-right: 5px;
  mix-blend-mode: luminosity;
}

.item__lists {
  position: absolute;
  border: solid white;
  display: block;
  width: 200px;
  left: 100px;
  top: 100px;
  height: 500px;
  background: white;
  z-index: 1;
}
.item__lists.hide {
  height: 0px;
}

.item {
  position: relative;
  font-size: 50px;
  margin: 30px 20px 30px 20px;
  justify-content: space-between;
}

.item.hide {
  font-size: 0;
  display: none;
}

.timer__box {
  position: absolute;
  border: solid white;
  display: flex;
  width: 500px;
  top: 50px;
  left: 25%;
  height: 100px;
  background: white;
  border-radius: 18px;
  background: white;
  border: 2px solid;
}

.timer__bar {
  position: absolute;
  display: flex;
  align-items: center;
  width: 490px;
  height: 90px;
  background-color: black;
  top: 5px;
  left: 2px;
  border-radius: 18px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 5%,
    rgba(54, 54, 184, 1) 19%,
    rgba(0, 212, 255, 1) 99%
  );
  border: 2px solid;
}

.score__box {
  position: absolute;
  border: solid white;
  width: 100px;
  height: 100px;
  top: 6%;
  left: 55%;
  background: white;
  border-radius: 50%;
}

.game__score {
  position: absolute;
  width: 100px;
  height: 90px;
  background-color: black;
  top: 6%;
  text-align: center;

  border-radius: 50%;
  color: white;
}

.messageBox {
  position: absolute;
  border: solid white;
  display: block;
  width: 1000px;
  top: 300px;
  right: 430px;
  height: 500px;
  background: white;
  text-align: center;
  font-size: 50px;
  visibility: hidden;
}

.messageBox.show {
  visibility: visible;
}

.game__field {
  margin-top: 300px;
  width: 2000px;
  height: 700px;
  position: relative;
}

.answer:hover,
.wrong:hover {
  transform: scale(1.1);
  transition: all 0.4s ease;
  z-index: 1;
}

.fish {
  width: 50px;
  height: 50px;
  position: relative;
}
