body {
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.start__button,
.timer,
.rabbit__carrot,
.message__alert,
.message__restart {
  padding: auto;
  display: block;
  position: absolute;
  background-color: black;
  text-align: center;
  color: white;
  opacity: 0.5;
}

.message__alert {
  bottom: 20px;
  padding: auto;
  margin: auto;
  width: 200px;
}

.message__restart {
  bottom: 20px;
  padding: auto;
  margin: auto;
  width: 100px;
}
